doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(href='/socket.io/socket.io.js')
    script(href='/javascripts/script.js')
  body
    block content
