// app global css in SCSS form
.video-container .controls {
  display: none;
}

.video-container:hover {

  .controls {
    display: flex !important;
  }
}

.controls {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
  top: auto;bottom: 0;
}
